<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List</title>
    </head>
    <body>
        <h1>Product list</h1>
        <p></p>
        <ul>
            <li th:each="product : ${list}">
                <a th:href="${product.product}"> <span th:text="${product.product}"/> </a> (<span th:text="${product.details}"/>)
            </li>
        </ul>
        <p></p>
        <h2>Add products</h2>
        <form th:action="@{/}" method="post">
           Product: <input type="text" name="product"/>
           Details: <input type="text" name="details"/>
            <input type="submit" value="Add"/>
        </form>
    </body>
</html>
